aiomysql
alembic
annotated-types
anyio
Authlib
certifi
cffi
charset-normalizer
click
cryptography
dnspython
dynaconf
ecdsa
email_validator
exceptiongroup
fastapi
fastapi-authlib
fastapi-cli
fastapi-sa
greenlet
h11
httpcore
httptools
httpx
idna
inflection
itsdangerous
Jinja2
Mako
markdown-it-py
MarkupSafe
mdurl
oauthlib
orjson
psycopg2-binary
pyasn1
pycparser
pydantic
pydantic_core
Pygments
PyJWT
PyMySQL
python-decouple
python-dotenv
python-jose
python-multipart
PyYAML
requests
requests-oauthlib
rich
rsa
shortuuid
six
sniffio
SQLAlchemy
starlette
typer
typing_extensions
ujson
urllib3
uvicorn
uvloop
watchfiles
websockets