#alembic==1.13.1
annotated-types
anyio
certifi
cffi
fastapi-authlib
charset-normalizer
click
cryptography
dnspython
ecdsa
email_validator
exceptiongroup
fastapi
fastapi-cli
greenlet
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
Mako
markdown-it-py
MarkupSafe
mdurl
orjson
psycopg2-binary
pyasn1
pycparser
pydantic
pydantic_core
Pygments
python-decouple
python-dotenv
python-jose
python-multipart
PyYAML
requests
rich
rsa
shellingham
shortuuid
six
sniffio
SQLAlchemy
starlette
typer
typing_extensions
ujson
urllib3
uvicorn
uvloop
watchfiles
websockets